.servicos {
    background: #111;
    color: #fff;
    padding: 40px 0;
    max-width: 800px;
    margin: 0 auto;
}

.text-price {
    h2 {
        font-size: 36px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 10px;

        span {
            color: #facc15;
        }
    }

    p {
        padding: 12px 16px;
        max-width: 600px;
        border-radius: 4px;
        color: #c0c0c0;
        margin-bottom: 40px;
    }

    h3 {
        color: #ffd700;
        font-size: 26px;
        font-weight: bold;
        margin: 30px 0 15px;
    }
}

.lista {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;

    li {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px dotted #555;
        font-size: 18px;
    }
}

.container{
    display: flex;
}