.form-container{
    font-family: 'Inter';
    min-height: 100vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container>form{
    background-color: transparent;
    width: 420px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 10px;
    color: white;
}

form>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 10px 10px 0 0;
    
    svg{
        margin-right: 10px;
    }
}

.img-container>img{
    width: 100px;
}

.text-form{
    text-align: center;
    color: white;
    font-family: 'Inter';
    margin-bottom: 50px;
}