.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cadastro-box h2 {
    margin-bottom: 20px;
    background: #0d3b66;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

.input-group {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.input-group .icon {
    font-size: 18px;
    background-color: #0d3b66;
    height: 32px;
    border: 1px solid #ccc;
}

.input-group input {
    border: 1px solid #ccc;
    border-left: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    height: 30px;
}

.forgot-link:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    background: #0d3b66;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background: #0a2d4f;
}

.ooo{
    display: block;
    text-align: center;
    color: red;
    margin-top: -20px;
    font-size: 15px;
    margin-top: 1px;
}