header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.411);
    padding: 20px 10px;
    font-family: 'Inter';
}

.text-header {
    .title {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
            background-color: #0A232A;
            height: 30px;
            width: 30px;
            border: 1px solid #00d9ff49;
            border-radius: 20%;
            padding: 3px;
        }

        span {
            color: var(--terc);
        }
    }

    h2 {
        margin: 10px 0 10px;
    }

    p {
        color: #c0c0c0;
    }
}