.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.button-container > button{
  border: none;
  padding: 8px;
  border-radius: 8px;
  width: 80%;
  cursor: pointer;
  font-weight: 600;
  background-color: #2C6FA3;
  transition: .3s ease-in;
}

.button-container > button:hover{
  background-color: #8FBFD9;
}