.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.button-container>button{
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: var(--azul-marinho);
    color: white;
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    transition: .3s ease-in-out;
}

.button-container>button:hover{
    background-color: var(--azul-medio);
}