button{
    background-color: var(--dour);
    color: white;
    height: 40px;
    padding: 5px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
}