button{
    background-color: var(--dour);
    color: white;
    height: 40px;
    padding: 5px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 150px;

    &:hover{
        background-color: #a88957;
    }
}