.section3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container-3{
  width: 45%;
}

.img-container-3>img{
  border-radius: 26px;
  height: 450px;
  width: 100%;
}

.text-container-3{
    width: 45%;
}

.text-3>h3{
  color: var(--verde);
  margin-bottom: 15px;
}

.text-3>p{
  margin-bottom: 35px;
  color: var(--azul-escuro);
  font-weight: 600;
}

@media (max-width: 480px){
  .section3{
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }

  .img-container-3, .text-container-3{
    width: 90%;
    margin-bottom: 20px;
    text-align: justify;
  }

  .img-container-3{
    width: 100%;
  }

  .img-container-3>img{
    height: auto;
  }
}