.services-section {
    text-align: center;
    padding: 60px 20px;
    background: #f3dfd5;
}

.text-services-container {
    h2 {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--marrom);
        font-family: var(--font-playfair);

        span {
            color: var(--dour);
        }
    }

    p {
        margin-bottom: 40px;
        font-size: 18px;
        font-family: var(--font-inter);
        color: rgb(95, 95, 95);
    }
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    .service-card {
        background: white;
        padding: 30px;
        border-radius: 12px;
        width: 350px;
        height: 400px;
        text-align: left;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
        position: relative;

        &:hover {
            cursor: pointer;
            transition: all.3s ease-in-out;
            transform: scale(103%);
        }

        h3 {
            margin-bottom: 10px;
            font-size: 24px;
            color: var(--marrom);
            text-align: center;
            font-family: var(--font-playfair);
        }

        p {
            color: rgb(102, 100, 100);
            margin-bottom: 15px;
            text-align: center;
            font-size: 15px;
            font-family: var(--font-inter);
        }

        ul {
            li {
                margin-bottom: 8px;
                color: #4b3b33;
                list-style: none;
            }
        }
    }
}

.btn {
    width: 100%;
    padding: 12px;
    background: var(--dour);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.btn:hover {
    background: #b5896a;
}

.popular {
    border: 2px solid var(--dour);
}

.badge {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--dour);
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

@media (max-width: 480px) {
    .text-services-container {
        h2 {
            font-size: 1.8rem;
        }

        p {
            font-size: 15px;
        }
    }
}