.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0 ;
}

.input-container>input {
    width: 80%;
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    outline: none;
    color: black;
}

.input-container>input::placeholder{
    color: rgb(88, 87, 87);
}