div>button {
    padding: 10px;
    background-color: #F59E0B;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 380px;
    letter-spacing: 2px;
    font-weight: bolder;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        background-color: #905e07;
        box-shadow: none;
    }
}