div>button{
    padding: 10px;
    background-color: #F59E0B;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 380px;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease-in-out;
}

div>button:hover{
    background-color: #905e07;
    box-shadow: none;
}