#benefits-section {
    background-color: #fff;
}

.text-benefits-container {
    h2 {
        text-align: center;
        font-size: 3.5rem;
        font-family: var(--font-playfair);
        margin-bottom: 25px;

        span {
            color: var(--dour);
        }
    }
}

.cards-benefits-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}