#benefits-section {
    background-color: #fff;
}

.text-benefits-container {
    h2 {
        text-align: center;
        font-size: 3.5rem;
        font-family: var(--font-playfair);
        margin-bottom: 25px;

        span {
            color: var(--dour);
        }
    }
}

.cards-benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 480px) {
    .text-benefits-container {
        width: 100%;

        h2 {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .cards-benefits-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}