.about-section{
  padding: 80px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.300);
  align-items: center;
}

.text-container-about{
  width: 70%;
  padding: 80px;
}

.text-container-about > h2{
  font-size: 30px;
  text-align: justify;
  font-weight: 900;
  margin-bottom: 25px;
}

#wvt{
  color: var(--Roxo);
}