.section3{
  min-height: 100vh;
  display: flex;
  padding: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.300);
}

.text-container-3{
  width: 45%;
}

.text-container-3 > h2{
  color: var(--Roxo);
  font-size: 55px;
  margin-bottom: 25px;
}

.text-container-3 > p{
  margin-bottom: 45px;
  font-size: 25px;
}

.img-container-3 > img{
  max-width: 400px;
  border-radius: 16px;
}