header {
  width: 100%;
  background-color: var(--Vermelho-Tomate);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.logo-container>a {
  font-size: 30px;
}

.links-container>a {
  display: inline-block;
  margin-left: 20px;
  padding: 8px;
  transition: 0.3s ease-in;
}

.links-container>a:hover {
  background-color: var(--Amarelo-Queijo);
  color: black;
  border-radius: 8px;
}