.cart-modal {
    position: fixed;
    top: 60%;
    left: 50%;
    z-index: 999;
    background-color: white;
    height: 500px;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color: #494C51;
    border: 1px solid black;
    border-radius: 10px;
}