@import "tailwindcss";

@theme {
    --color-prim: #0B0E13;
    --color-sec: #00ffff;
    --color-terc: #10192D;
    --color-text: #c0c0c0;
    --color-quar: #252E37;

    --color-t1: #0E222D;
    --color-t2: #0476AE;
}

body {
    background-color: var(--color-prim);
}