.testimonial-card {
    background: #F5EAE5;
    padding: 30px 35px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 350px;
    margin-right: 18px;

    &:hover{
        cursor: pointer;
        transform: scale(105%);
        transition: all .3s ease-in-out;
    }
}

.stars {
    color: #d4a017; /* dourado suave */
    font-size: 20px;
    letter-spacing: 2px;
}

.testimonial-text {
    line-height: 1.6;
    color: #444;
    font-size: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background: #878686;
    margin: 5px 0;
}

.testimonial-name {
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.testimonial-role {
    font-size: 0.9rem;
    color: #666;
}

@media (max-width: 480px){
    .testimonial-card{
        margin-bottom: 20px;
    }
}