.location-section {
  display: block;
  background-color: #1F1F1F;
  color: white;
  padding: 80px 0;
}

.text-location-container {
  margin: 65px 0;
}

.text-location-container>h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3.5rem;
}

.text-location-container>h2>span{
    color: #F59E0B;
}
.text-location-container>p {
  text-align: center;
  font-size: 18px;
  color: #c0c0c0;
}

.map-container {
  display: flex;
  padding: 0 80px;
  gap: 60px;
}

.card-location-container {
  width: 50%;
}

@media (max-width: 480px) {
  .location-section {
    padding: 60px 16px;
  }

  .text-location-container {
    width: 100%;
    margin: 40px 0;
  }

  .text-location-container>h2 {
    font-size: 1.8rem;
  }

  .map-container iframe {
    height: 300px;
  }

  .map-container {
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-location-container {
    width: 100%;
    gap: 12px;
  }
}