#hero-section {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/hero-makeup.jpg);
    background-position: center;
    background-size: cover;
}

.text-hero-container {
    width: 600px;
    margin: 40px 0 20px 0;

    h1 {
        font-family: var(--font-playfair);
        font-size: 4rem;
        color: var(--marrom);
        line-height: 70px;
        margin-bottom: 20px;

        span {
            color: var(--dour);
        }
    }

    h2 {
        font-family: var(--font-inter);
        color: rgb(72, 72, 72);
        font-weight: normal;
        font-size: 18px;
    }
}

.button-hero-container {
    button {
        margin-right: 30px;
    }

    #btn2 {
        background-color: white;
        color: black;
        border: 1px solid #C89C8D;

        &:hover {
            background-color: #C89C8D;
            color: white;
        }
    }
}

@media (max-width: 480px) {
    .text-hero-container {
        width: 100%;
        margin: 40px 0 20px 0;

        h1 {
            font-size: 1.8rem;
            text-align: center;
            line-height: 30px;
        }

        h2 {
            font-size: 15px;
            text-align: center;
        }
    }

    .button-hero-container {
        display: flex;
        justify-content: center;

        button {
            margin-right: 30px;
        }
    }
}