.hero-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--bege);
  overflow: hidden;
}

.info-container-hero {
  display: flex;
  width: 450px;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
}

.info-container-hero>h1 {
  color: var(--verde);
  margin-bottom: 25px;
  line-height: 55px;
  overflow-y: hidden;
  font-size: 4rem;
}

.info-container-hero>h2 {
  color: var(--azul-escuro);
  margin-bottom: 25px;
}

.info-container-hero>p {
  color: var(--azul-escuro);
  margin-bottom: 25px;
}

.img-hero-container {
  width: 450px;
  display: flex;
}

.img-hero-container>img {
  border-radius: 16px;
  display: block;
  width: 100%;
}

.button-hero {
  background-color: var(--verde);
  color: white;
  border: 1px solid white;
}

.button-hero:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}