.hero-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--bege);
}

.info-container-hero {
  width: 450px;
  border: 1px solid red;
}

.info-container-hero>h1 {
  color: var(--verde);
  margin-bottom: 25px;
  line-height: 55px;
  overflow-y: hidden;
  font-size: 4rem;
}

.info-container-hero>h2 {
  color: var(--azul-escuro);
  margin-bottom: 25px;
}

.info-container-hero>p {
  color: var(--azul-escuro);
  margin-bottom: 25px;
}

.img-hero-container {
  border: 1px solid red;
  width: 550px;
}

.img-hero-container>img {
  min-width: 100%;
  border-radius: 16px;
}

.button-hero {
  background-color: var(--verde);
  color: white;
  border: 1px solid white;
}

.button-hero:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

@media screen and (max-width:570px) {
  .img-hero-container {
    margin: 15px 0 0 0;
  }

  .info-container-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-container-hero>h1{
    text-align: center;
    font-size: 35px;
  }

  .info-container-hero>h2{
    font-size: 18px;
  }
}