.section5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  min-height: 100vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.303);
}

.text-container-5{
  width: 50%;
}

.text-container-5>h2{
  color: var(--Roxo);
  font-size: 45px;
  margin-bottom: 30px;
}

.text-container-5>p{
  font-size: 20px;
  margin-bottom: 40px;
}

.img-container-5>img{
  max-width: 400px;
  border-radius: 16px;
}