button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  width: 50%;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease-in;
}

button:hover {
  background-color: #F7B801;
  color: black;
}