.button-cadastro{
    background-color: #000080;
    color: white;
    border-radius: 10px;
    width: 50%;
    margin-top: 10px;
}

.button-cadastro:hover{
    background-color: #1976d2;
}

.errors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errors>span{
    color: red;
    display: inline-block;
    margin-top: -16px;
    font-weight: 600;
}