.button-container{
    display: flex;
    justify-content: center;
}

.button-container>button{
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}