.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.input-container>input {
    width: 80%;
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-left: none;
    outline: none;
    color: black;
    border-radius: 0 8px 8px 0;
}

.input-container>input::placeholder {
    color: rgb(88, 87, 87);
}

.icon {
    background-color: #000080;
    border: 1px solid #a1a1a1;
    height: 37px;
    line-height: 37px;
    border-radius: 8px 0 0 8px;
}