.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.button-container>button{
    width: 40%;
    background-color: var(--terc);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover{
        background-color: var(--sec);
        border: 1px solid white;
        color: white;
    }
}