.hero-section {
    font-family: 'Inter';
    background: linear-gradient(to right, #3B82F6, #7C3AED);
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-hero>h1 {
    text-align: center;
    font-size: 3.5rem;
}

@media (max-width: 480px) {

    .text-hero{
        width: 80%;
    }

    .text-hero>h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .text-hero>p {
        text-align: center;
        font-size: 10px;
    }
}