.hero-section{
    font-family: 'Inter';
    background: linear-gradient(to right, #3B82F6, #7C3AED);
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section>h1{
    font-size: 3.5rem;
}