#cta-section {
    background-color: #F1E4DE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1 {
    display: flex;
    background-color: #ECD8C4;
    color: var(--dour);
    padding: 8px;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 15px;

    svg {
        margin: 0 10px 0 0;
    }
}

.text-cta-container {
    width: 700px;

    h2 {
        text-align: center;
        font-family: var(--font-playfair);
        font-size: 3.5rem;
        margin-bottom: 10px;

        span {
            color: var(--dour);
        }
    }

    p {
        text-align: center;
        color: rgb(98, 98, 98);
        margin-bottom: 20px;
        font-family: var(--font-inter);
    }
}

#btn-cta {
    width: 250px;
}

@media (max-width: 480px) {
    .text-cta-container {
        width: 100%;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 10px;

            span {
                color: var(--dour);
            }
        }

        p {
            text-align: center;
            color: rgb(98, 98, 98);
            margin-bottom: 20px;
            font-family: var(--font-inter);
        }
    }

    #btn-cta {
        width: 250px;
    }
}