.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  margin-top: 80px;
  font-family: 'Poppins';
  min-height: 100vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.300);
}

.text-container-hero {
  max-width: 500px;
}

.text-container-hero>h1 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 70px;
  overflow-y: hidden;
}

.button-container {
  overflow: hidden;
  padding: 10px;
}

.button-container>button {
  background: linear-gradient(to right, #9b4dff, #ff3cac);
  padding: 8px;
  border: none;
  border-radius: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease-in;
}

.button-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 62, 172, 0.6);
}

.img-container-hero {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.img-container-hero>img {
  max-width: 400px;
  border-radius: 16px;
}