.section4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.img-container-4>img{
  max-width: 400px;
  border-radius: 16px;
}

.text-container-4{
  width: 50%;
}

.text-container-4 > h2{
  color: var(--Roxo);
  margin-bottom: 50px;
  font-size: 50px;
}

.text-container-4 > p{
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-size: 20px;
}