.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 80px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-container>img{
    width: 100px;
}

.text-register{
    text-align: center;
    color: white;
    font-family: 'Inter';
    margin-bottom: 50px;
}