header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.logo-container {
    a {
        font-size: 35px;
        text-decoration: none;
        color: var(--marrom);
        font-weight: 600;
        font-family: var(--font-playfair);

        span{
            color: var(--dour);
        }
    }
}

.navbar{
    a{
        display: inline-block;
        margin-right: 30px;
        font-family: var(--font-inter);
        text-decoration: none;
        color: var(--marrom);
        font-weight: 500;

        &:hover{
            color: var(--dour);
            cursor: pointer;
        }
    }
}