.card {
  border: 1px solid black;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 30px;
}

.img-container {
  width: 100%;
}

.img-container>img {
  width: 100%;
  border-radius: 8px;
}

.text-container>h1 {
  margin-bottom: 10px;
}

.text-container>p {
  margin-bottom: 10px;
}

.value-container {
  display: flex;
}

.value-container>p.real {
  font-weight: 900;
  margin-right: 8px;
  margin-bottom: 10px;
}

.button-container-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}