#localization-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-location-container {
    margin-bottom: 35px;

    h2 {
        font-size: 3.5rem;
        text-align: center;
        font-family: var(--font-playfair);

        span {
            color: var(--dour);
        }
    }

    p {
        text-align: center;
        font-family: var(--font-inter);
        color: rgb(93, 93, 93);
    }
}

.map-container {
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .text-location-container {
        h2 {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
    }

    .map-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        iframe{
            width: 100%;
        }
    }
}