.button-container {
  border-radius: 10px;
  animation: pulseShadow 2.5s ease-in-out infinite;
  display: inline-block; /* para evitar bugs de layout */
}

.button-container button {
  background-color: #00ffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: #001f1f;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Efeito de clique e hover */
.button-container button:hover {
  transform: scale(1.05);
  background-color: #33ffff;
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 30px 2px #00ffff;
  }
  50% {
    box-shadow: 0 0 40px 0px #00ffff, 0 0 80px 20px rgba(0, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 30px 2px #00ffff;
  }
}
