.card-container{
  border: 1px solid black;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.img-container > img{
  width: 100%;
  border-radius: 8px;
}

.card-container > h1{
  margin-bottom: 10px;
}

.card-container >#desc{
  margin-bottom: 10px;
}

.preco-container{
  display: flex;
  margin-bottom: 10px;
}

#real{
  font-weight: 600;
}

#value{
  margin-left: 10px;
}

.button-container-hamb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}