.resume-card{
  position: fixed;
  left: 80%;
  border: 1px solid black;
  height: 300px;
  border-radius: 8px;
  padding: 10px;
}

.resume-card > h1{
  font-size: 20px;
  margin-bottom: 10px;
}

.subtotal{
  display: flex;
}

.total{
  display: flex;
}

#real-resume{
  margin-right: 5px;
  font-weight: 600;
}