:root {
  --Azul-claro: #4FC3F7;
  /*(já presente no topo do fundo)*/
  --Verde-vibrante: #4CAF50;
  /*(já presente na base do fundo)*/
  --Cinza-suave: #F5F5F5;
  /*(para caixas, cards, contraste leve)*/
  --Preto-suave: #212121;
  /*(para textos fortes)*/
  --Verde-água-médio: #26A69A;
  /*(destaques secundários, botões)*/
  --Amarelo-limão: #FFEB3B;
  /*(cor de alerta ou destaque extra)*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: var(--Preto-suave);
  background: #43aed9;
  overflow: hidden;
  background: linear-gradient(182deg, rgba(67, 174, 217, 1) 0%, rgba(87, 199, 133, 1) 57%);
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--Cinza-suave);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid var(--Preto-suave);
  border-radius: 15px;
  width: 70%;
  margin-bottom: 15px;
}

input::placeholder {
  color: var(--Preto-suave);
}

li{
  list-style: none;
  margin-right: 15px;
}

button#add {
  padding: 10px 15px;
  background-color: var(--Verde-água-médio);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 70%;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button#add:hover {
  background-color: var(--Verde-vibrante);
}

button#del {
  padding: 5px 10px;
  background-color: var(--Amarelo-limão);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#del:hover {
  background-color: #fbc02d;
}

#item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  max-height: 300px; 
  overflow-y: auto;
  width: 100%;    
  padding: 0;
  margin: 0;
}