

.login-form>h1 {
  
}

.remember{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember > label{
  margin-right: 5px;
}

a{
  color: #5AB6E6;
  font-weight: 600;
  text-decoration: none;
}